{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>My Blog</title>
{% endblock title %}
{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>About Our Company</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="{% static '/images/about-left-image.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us &amp; Our Skills</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>What you wear is how you present yourself to the world, especially today, when human contacts are so quick. Fashion is instant language."</p>
                        </div>
                        <p>At Las Graphicas, we're passionate about bringing your creative visions to life through custom-printed apparel. Specializing in high-quality fabrics, we currently offer comfortable and stylish polos and round neck t-shirts, crafted from premium cotton and breathable honeycomb cotton. We pride ourselves on our commitment to customization, allowing you to design unique pieces that reflect your individual style or brand. With a focus on quality and customer satisfaction, we're continuously expanding our product range and fabric selections, ensuring you'll always find the perfect canvas for your next creation. Stay tuned for exciting new additions!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->


    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Services</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Customized Tshirts</h4>
                        <p>We offer printing your designs on our high-quality t-shirts</p>
                        <img src="{% static '/images/service-01.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Polos</h4>
                        <p>Check out our Polos Collection made from breathable Honeycomb Cotton which is best for summer</p>
                        <img src="{% static 'images/service-02.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Round Neck Tshirts</h4>
                        <p>Our Round Neck T-shirts have best quality prints which is made with the help of our expert designers.</p>
                        <img src="{% static 'images/service-03.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area Ends ***** -->

    {% endblock %}